@charset "UTF-8";

header, header > nav{
    flex-flow: column nowrap;
}
header > h1{
    flex-basis: 50px;
}
span#ico{
    cursor: pointer;
    display: block;
}
nav{
    display: none;
}
nav a{
    width: 95vw;
}